modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ZMusic Dev Server"

[[workflows.workflow]]
name = "ZMusic Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "DATABASE_URL=\"file:./db/custom.db\" node node_modules/tsx/dist/cli.mjs server.ts"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44951
externalPort = 3000
